/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main {
}

.navbar-color {
    background-color: #e74c3c;
    border-color: transparent;
}

.navbar-header > a {
    color: white;
}

/*#fire {
    background-size: contain;
    background-image: url("/icons/fire.png");
    background-position: center;
    background-repeat: no-repeat;
}*/

.round-btn {
    border-radius: 50%;
}

.row {
    margin-bottom: 50px;
}

.btn-xl {
    width: 200px;
    height: 200px;
}

.icon {
    width: 96px;
    height: 96px !important;
}