/*****************************************************************************/
/* main: Style */
/*****************************************************************************/
.main {
}

.navbar-color {
    background-color: #e74c3c;
    border-color: transparent;
}

.navbar-header > a {
    color: white;
}

/*#ambulance {
    background-size: contain;
    background: url("");
}*/
#fire {
    background-size: contain;
    background: url("/public/icons/fire.png") no-repeat;
}

.round-btn {
    border-radius: 50%;
}
.row{
    margin-bottom: 15px;
}