<template name="home">
    <div class="template-home">

        <div class="row">
            <div class="col-xs-6">
                <div class="card center center-block">
                    <img class="responsive-img icon" src="icons/ambulance.png">
                </div>
            </div>

            <div class="col-xs-6">
                <div class="card center center-block">
                    <img class="responsive-img icon" src="icons/fire.png">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="card center center-block">
                    <img class="responsive-img icon" src="icons/police.png">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="card center center-block">
                    <img class="responsive-img icon" src="icons/typhoon.png">
                </div>
            </div>
        </div>
    </div>
09056436567
</template>
