<template name="home">
  <div class="template-home">

    <div class="row">
      <div class="col-xs-6">
        <button id="ambulance" class="btn btn-danger">
        </button>
      </div>
      <div class="col-xs-6">
        <button id="police" class="btn btn-danger">e</button>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <button id="fire" class="btn btn-danger">s</button>
      </div>
      <div class="col-xs-6">
        <button id="typhoon" class="btn btn-danger">e</button>
      </div>
    </div>
  </div>

</template>
