<template name="home">
    <div class="template-home">

        <div class="row">
            <div class="col-xs-6">
                <button id="ambulance" class="btn btn-danger round-btn">
                    a
                </button>
            </div>
            <div class="col-xs-6">
                <button id="police" class="btn btn-danger round-btn">e</button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-xs-6">
                <button id="fire" class="btn btn-danger round-btn"></button>
            </div>
            <div class="col-xs-6">
                <button id="typhoon" class="btn btn-danger round-btn">e</button>
            </div>
        </div>
    </div>

</template>
